[submodule "vendor/vendor/wa-sqlite"]
	path = vendor/vendor/wa-sqlite
	url = https://github.com/marcus-pousette/wa-sqlite
[submodule "vendor/wa-sqlite"]
	path = vendor/wa-sqlite
	url = https://github.com/marcus-pousette/wa-sqlite
